<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieFlex</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IS7024_FinalProj_MovieFlex.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="logo-text col-md-2 col-sm-2 d-none d-md-block d-sm-none">
                    <a asp-page="/Index"> <img src="/images/Logo.png" width="200" height="100" alt="movie flex logo image"/></a>
                </div>
                <a class="skip-to-main-content-link" href="#content">Skip to main content</a>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm ml-auto col-md-10 col-sm-2" role="menu">
                    <div class="container-fluid">
                        <a asp-page="/Index" class="d-sm-block d-md-none"> <img src="/images/Logo.png" width="150" height="90" alt="movie flex logo image" /></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Top250Movies">Top 250 Movies</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Top250_tvshows">Top 250 Shows</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Now_showing">Now Showing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Bio">Documentaries</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/contact">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <button class="switch-theme-btn" onclick="myFunction()">Switch Theme</button>

            <script>
                function myFunction() {
                    var element = document.body;
                    element.classList.toggle("light-mode");
                    var tableElementList = document.getElementsByTagName('table');
                    tableElementList[0].classList.toggle('table-dark');
                }
            </script>
        </div>
        
    </header>
    <div class="mainSection" id="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
