@page
@model IS7024_FinalProj_MovieFlex.Pages.BioModel
@using External
@{
    ViewData["Title"] = "External API"; ExternalApi data = (ExternalApi)ViewData["ExternalAPI"];
}

<div class="text-center container">   
    <h1 class="sub-heading">Documentary </h1> 
    <table id="documentary-table" class="table table-dark table-striped table-responsive">   
        <caption>Documentary List</caption>
        <thead>
        <tr>            
            <th>Genre</th>   
            <th>Title</th> 
            <th>Produced By</th>
            <th>Release Date</th>
        </tr>    
        </thead>
        <tbody>
        @{
            foreach (Result result in data.Results)
            {
                                <tr>   
                                <td>@result.Section</td>           
                                <td>@result.Title</td>    
                                <td>@result.Byline</td>
                                <td>@result.CreatedDate</td>
                                </tr>
            }
        }   
        </tbody>
        </table>   
        </div>

