@page
@model IS7024_FinalProj_MovieFlex.Pages.ContactModel
@{
}

<style>
    form {
        background: none !important;
    }
</style>
<div class="sub-pages-header mb-3">
    <center><h1>Contact us</h1></center>

</div>
<!--Section: Contact-->
<section class="mb-4">
    <p class="text-center w-responsive mx-auto mb-5" style="color:#eb1424; padding:20px 0; font-size: 20px;">
        Do you have any questions? Please send in your query here.
        Our team will get back to you within a matter of hours to help you.
    </p>
    <form method="get">
        <center><h1>Please fill out the details</h1></center>
        <center>
            Name:<input type=text name="fullName" size=20 maxlength=10> <br><br />
            Emailid:<input type=text name="address" size=20 maxlength=100><br><br />
            Contact:<input type=text name="contact" size=20 maxlength=10> <br><br />




<textarea id="message" name="message" rows="4" cols="40">
Message.
</textarea> <br>

            <center />
        </center>

    </form>
            <div class="text-center text-md-left">
                <a class="btn btn-primary mb-3" style="background-color: #171D22;
            border-color: #eb1424;
            padding:20px 30px;" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li>
                    <i class="bi bi-building"></i>

                    <p>Cincinnati, OH, 45220, USA</p>
                </li>

                <li>
                    <i class="bi bi-telephone"></i>
                    <p>+1 234-567-8901</p>
                </li>

                <li>
                    <i class="bi bi-envelope"></i>
                    <p>movieflex@gmail.com</p>
                </li>
            </ul>
        </div>

    </div>

</section>
