@page
@model IS7024_FinalProj_MovieFlex.Pages.JoinPageModel
@using External
@{
	ViewData["Title"] = "External API";
	ExternalApi data = (ExternalApi)ViewData["ExternalAPI"];
}

<div class="text-center">
    <h1 class="display-4">External API</h1>
    <p>Data in External API</p>
    <table class="table table-dark table-striped">
        <tr>
            <th>Section</th>
            <th>Title</th>
        </tr>
        @{
            foreach (Result result in data.Results)
            {
                <tr>
                    <td>@result.Section</td>
                    <td>@result.Title</td>
            </tr>
            }
        }
    </table>
    </div>