@page
@model IS7024_FinalProj_MovieFlex.Pages.Top250MoviesModel
@{
	ViewData["Title"] = "Top 250 Movies";
}

<div class="text-center">
    <h1 class="display-4">Top 250 Movies</h1>
    <p>List of top 250 movies</a>.</p>
</div>
