html {
  font-size: 14px;
}

.logo-text a img {
    width: 150px;
    height: 90px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
        .logo-text a img {
            width: 200px;
            height: 100px;
        }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(45deg, #7c9885, #b5b682);
}

    

header {
    background-color: #171D22;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

body.light-mode header {
    background-color: #ffffff;
}

.mainSection {
    margin-top: 100px;
    margin-bottom: 100px;
}

header .nav-item a {
    color: #f0f0f0;
    font-weight: 600;
    font-size: 20px;
    margin: 0 15px;
    text-decoration: none;
}
    header .nav-item a:hover {
        color: #e4d804
    }

    header .navbar-collapse {
        margin-top:25px;
    }

        header .navbar-collapse ul li {
            border-bottom: 5px solid transparent;
            padding:0 10px;
        }

            header .navbar-collapse ul li:hover, header .navbar-collapse ul li:visited {
                border-bottom: 5px solid #e4d804;
                color: #e4d804;
            }

body.light-mode header .nav-item a {
    color: #000000;
}
.bannerContainer {
    background-image: url('../images/bannerImg.jpg');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;
}

    .bannerContainer > .container {
        display:flex;
    }


.searchBox {
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    justify-content: flex-start;
    margin: 0 auto;
    width: 80%;
    padding: 50px 20px;
}
@media (min-width: 768px) {
    .searchBox {
        
        margin-left: 100px;
        width: 50%;
    }
}

    .searchBox input {
        width: 100%;
        margin: 20px 0;
        padding: 10px;
    }

    .searchBox .submitBtn {
        width: 200px;
        background-color: #e4d804;
        color: #171D22;
    }

    footer {
        background-color: #171D22;
        color: #e4d804;
        padding: 20px 0 0;
        height: auto;
    }

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        color: #e4d804 !important;
    }

        .fa:hover {
            opacity: 0.7;
        }

    .social-links-list {
        margin-bottom: auto;
    }

        .social-links-list li {
            list-style-type: none;
            display: inline;
        }

    footer .contactBtn {
        width: 200px;
        background-color: #e4d804 !important;
        color: #171D22;
        padding: 10px;
        height: 50px;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(228, 216, 4, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar-toggler {
        border-color: #e4d804;
    }

.sub-heading {
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
}

.movie-card {
    display: inline-block;
    margin: 10px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 18rem;
    height: 32rem;
}

    .movie-card .movie-img-container {
        overflow: hidden;
       
    }

        .movie-card .movie-img-container img {
            width: 18rem;
            height: 20rem;
        }

.movie-card-img:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
    
}

table {
    background-color: #ffffff;
}

.switch-theme-btn {
    position: absolute;
    top: 0;
    right: 0;
}
#shows-datatable, #movie-datatable, #documentary-table {
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
}

    #shows-datatable td > span, #movie-datatable td > span {
        padding-right: 10px;
    }

.align-initial {
    text-align: initial;
}

#contact-form  {
    background: none !important;
}

.contact-info-text {
    color: #171D22;
    padding: 20px 0;
    font-size: 20px;
}

.contact-submit-btn {
    background-color: #171D22;
    padding: 20px 30px;
}

.address-info {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    padding: 20px;
}

.skip-to-main-content-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: transparent;
    color: white;
    opacity: 0;
    height:auto;
    width:auto;
}

    .skip-to-main-content-link:focus {
        left: 18%;
        transform: translateX(-50%);
        opacity: 1;
        top: 90%;
    }